* {
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    height: 80px;
    /* width: 300px; */
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px #FF0000;
}

img {
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-size: cover;
    transform: translateY(100px);
    filter: blur(1.5px);
    /* border: 2px solid black; */
}

.container {
    position: relative;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-90px) translateY(50px);
    height: 50px;
    width: 200px;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
}